<div class="page-header">
	<h1>Магазины</h1>
</div>
{{#ifadmin}}
	<div class="row form-group">
		<div class="col-sm-12">
			<a href="/shop/create" class="btn btn-primary">Создать</a>
		</div>
	</div>
{{/ifadmin}}

<div class="row">
	{{#each model}}
		<div class="col-xs-6 col-sm-4">
			<div class="thumbnail">
				<div class="caption">
					<h3><a href="/shop/{{this._id}}">{{this.name}}</a></h3>								
					<p>{{this.description}}</p>
				</div>
			</div>
		</div>
	{{/each}}
</div>